body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333; 
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 20px;
    color: palevioletred; 
}

input[type="radio"] {
    margin-bottom: 10px;
}

input[type="submit"] {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff; 
    background-color: palevioletred; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    color: #333; 
    background-color: #fff; 
    border: 1px solid palevioletred; 
    border-radius: 5px;
}
